<table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>No</th>
        <th>Departemen</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < departemen.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= departemen[i].nameDepartemen %></td>
        <td>
          <a
            href="/departemen/edit/<%= departemen[i]._id %>"
            class="btn btn-warning btn-sm"
          >
            <i class="fas fa-pencil-alt"> Edit </i>
          </a>
          <form
            action="/departemen/delete/<%= departemen[i]._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block"
          >
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash"> Hapus </i>
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  